body {
}

.container {
    text-align: center;
    padding-top: 50px;
    .main{
            display: flex;
            justify-content: center;
        }
        .inputs{
            margin-left: 1%;
        }
        .secon-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .labels-titulos-mensajes {
            display: flex;
            justify-content: center;
            gap: 2%;
            width: 100%;
        }

}
