
serv/Acme/Acme/.vs/Acme/config/applicationhost.config
/serv/Acme/Acme/.vs/Acme/FileContentIndex/05689a3b-5d05-4f8f-a183-4439d64314e7.vsidx
/serv/Acme/Acme/.vs/Acme/FileContentIndex/50934cf8-3d28-459e-ba2a-362f23eca863.vsidx
/serv/Acme/Acme/.vs/Acme/FileContentIndex/578a6523-0663-4b98-845d-814503521030.vsidx
/serv/Acme/Acme/.vs/Acme/FileContentIndex/a38ac0f6-1548-45c6-b929-f6809038f234.vsidx
/serv/Acme/Acme/.vs/Acme/FileContentIndex/c56dfab5-0a94-475c-baf0-0e3be5a78be2.vsidx
